/* body{
    background-color: purple;
} */

header{
background-color: transparent;  
z-index: 20;
}
#logoText{
    color:transparent;
}
#canvas-basic,#mask{
    grid-column:1/12;
    grid-row: 1/3;
    display: block;
    width: 100vw;
    height: 100vh;
}

#mask{
    z-index:10;
}
#mask img {
    width: 100vw;
    height:100vh;
}
#mask source {
    width: 100vw;
    height:100vh;
}

#tagline{
    z-index:30;
    color:white;
    font-size: 1.25em;
    
    justify-self: start;
    align-self: center;
    transform: translateY(160%);
    margin-left: 1.5em;
    width:80%;
}


#canvas-basic, header{
    grid-row-start:1;
}

@media only screen and (max-width:1024px){
    #tagline{
    transform: translateY(50%);
    /* width:90%; */
    margin-left:0px;
    
    }
}
@media only screen and (max-width:764px){
    #tagline{
    transform: translateY(50%);
    /* width:90%; */
    margin-left:0px;
    text-align:center;
    justify-self:center;
    
    
    }



}



