/* Main Page */
body{
background-color:blue;
margin: 0px;
padding: 0px;
box-sizing: border-box;
height: 100vh;
width: 100vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 10% auto 10%;
font-family: 'Poppins', sans-serif;
}

header{
    background-color: #0e273c;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 12;
}

#logo{
    /* background-color:purple; */
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 4em;
    padding-left: .25em;
    color: white;
    
}
.navbar{
    /* background-color:pink; */
    grid-column-start: 4;
    grid-column-end: 12;
}

.white{
    color: white;
}

ul{
    /* background-color:red; */
    margin-left: 65%;
    font-size: 1.25em;
    color: white;
    
}

li{
    /* background-color:yellow; */
    white-space: nowrap;
}

main{
    background-color:white;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
    grid-template-rows: 3fr 4fr 1fr 4fr 1fr;
    
}

.themeName{
    /* background-color: pink; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    height: 40%;
    margin-top: 5%;
    display: grid;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    font-size: 5em;
}

footer{
    background-color: #0e273c;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 12;
}

/* Display Theme */
.recipes{
    /* background-color: grey; */
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5; 
    }

input{
    display: none;
    visibility: hidden;
}

label{
    margin-left: 90%;
}

label:hover{
    color: #f15bb5;
}

#expand{
    height: 0;
    overflow: hidden;
    transition: height  .5s;
    background-color: green;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 30px;
}

#toggle:checked ~ #expand, #toggle1:checked ~ #expand {
    height: 600px;
}

img{
    height: 239px;
    width: 25%;
} 
.preview{
    display: flex;
    justify-content: space-around;
}
/* About Us */

#main{
    background-color:white;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
}
.us1{
    background-color: grey;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 250px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}
.us2{
    background-color: grey;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 250px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}
.us3{
    background-color: grey;
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 250px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}
.us4{
    background-color: grey;
    grid-row-start: 8;
    grid-column-start: 2;
    grid-column-end: 5;
    height: 250px;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
}

@media only screen and (max-width:768px){
    body{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20% auto 10%;
        }

        header{
            
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-start: 1;
            grid-column-end: 12;
        
        }    
        #logo{
            grid-column-start: 1;
            grid-column-end: 12;
            
        }
        .navbar{
            grid-column-start: 1;
            grid-column-end: 12;
        }
}
@media only screen and (max-width:360px){}