@font-face {
  font-family: SignPainter;
  src: url(fonts/SignPainter\ HouseScript\ Regular.ttf);
}


/* Main Page */
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  
  }


header{
    background-color: #0E273C;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width :100vw;
    /* height:15%; */
}


#logo{
  /* background-color:purple;  */
  font-size: 4em;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:.5em;
  font-family: SignPainter;
}

.logoName{
  text-decoration: none;
  color: white;
  margin:0px; 
  
}

.logoName:hover{
  color: #00f5d4;
}

.navbar {
  /* background-color:pink; */
  margin-right:1.75em;
}

.white {
  color: white;
}

ul {
  /* background-color:red; */
  /* margin-left: 65%; */
  font-size: 1.25em;
  color: white;
}

li {
  /* background-color:yellow; */
  white-space: nowrap;
  padding-left:2em;
  font-weight:300 ;
}


footer {
  background-color: #0e273c;
  width:100vw;
  height:15%;
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
}
p{
  display: flex;
  width: 60vw;
}

.footerLinks{
  display: flex;
  align-self: center;
  width: 100vw;
  padding-left: 10px;
  align-items: center;
}

.flinks{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.footerLinks a{
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  
  
}

/* Display Theme */
.content {
  /* background-color: grey; */
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}
.seeButton{
  color:#f15bb5;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.seeButton:hover{
  color:#00f5d4;
}
.themeName {
  /* background-color: pink; */
  /* grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  display: grid; */
  align-content: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 5em;
}

input {
  display: none;
  visibility: hidden;
}

label {
  margin-left: 90%;
}

label:hover {
  color: #f15bb5;
}

#expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  background-color: green;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 30px;
}

#toggle:checked ~ #expand,
#toggle1:checked ~ #expand {
  height: 600px;
}

img {
  height: 239px;

}
.preview {
  display: flex;
  justify-content: space-around;
}

  @media only screen and (max-width:1024px){
      body{
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: auto auto 10%;
          }
          header{
              flex-direction: column;
              justify-content:start;
          }
          #logo{
              margin-left: 0em;
          }
          .navbar{
              margin-right: 0em;
              
          }

          button{
            display: flex;
            align-items: center;
            justify-content: center;
          }

      li{
          padding-left:0em;
      }
  } 
  
  